In [4]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_regression

import plotly.express as px
import plotly.graph_objects as go

In [10]:
x,y=make_regression(n_samples=100, n_features=2, n_informative=2, n_targets=1, noise=50)

In [14]:
df=pd.DataFrame({'feature1':x[:,0], 'feature2':x[:,1],'target':y})
df.shape

(100, 3)

In [15]:
df.head()

   feature1  feature2     target
0 -0.493107  1.221964  46.726886
1  1.350841  0.533424  52.752046
2  2.021771  0.885308  15.516207
3  0.298682 -3.042870 -25.582358
4  0.013611  0.172072  17.267184

In [ ]:
fig= px.scatter(df,)